#upload{
    width: 110px;
    height: 80px;
    margin: 0 auto;
}
/*
#upload-back{
    width: 300px;
    height: auto;
    border: 1px dashed #8c8c8c;
    margin: 20px auto;
    border-radius: 4px;
    padding-bottom: 10px;
}*/
